*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.primary-clr{
    color: #209952;
}


.box-shape{
    max-width: 1360px;
    margin: 0 auto;
}

.button-green{
    background-color: #209952;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size:16px;
    font-weight: 500;
}


.button-white{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    padding: 12px 16px;
    border-radius: 4px;
    color: white;
    font-size:16px;
    font-weight: 500;
}



/* navbar part */
.navbar-container{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;

}


nav li {
    list-style: none;
}

nav a{
    text-decoration: none;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-button {
    display: flex;
    align-items: center;

}


/* hero section part */

.hero-container{
    height: 700px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-title{
    display: flex;
    gap:10px;
    background-color: white;
    padding: 6px 12px;
    border-radius: 50px;
}

.title{
    text-align: center;
    margin: 20px 0;
}

.title h1{
    color:white;
    font-size:72px;
    font-weight: bold;
}
.title-p {
    margin-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.hero-button{
    display: flex;
    gap: 20px;
}

.hero-button button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

/* notes section part */
.card-container{
    margin: 30px 0;
}

.card-container h1{
    font-size:52px;
    font-weight: bold;
    text-align: center;
     margin-top: 50px;
     margin-bottom: 10px;
}

.card-container p {
    color: gray;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}

.cards{
    display: flex;
    gap: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 24px 20px ;
    border-radius: 8px;
    box-shadow: 2px 2px 18px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);

}

.card img{
    background-color: rgba(249, 85, 85, 1);
    padding: 15px;
    border-radius: 100%;
}

/* solution part */

.solution-container{
    display: flex;
    align-items: center; 
    gap: 60px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.solution-image img{
    border-radius: 12px;
}

.solution-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.solution-sub {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.solution-content h1 {
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
}

.solution-des{
    color: gray;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.solution-link div{
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
}

/* ready section part */

.ready-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    padding: 80px 40px;
    margin-top: 90px;
    margin-bottom: 90px;

}
.ready-container h2{
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
}

.ready-container p {
     color: gray;
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
}