*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.box-shape{
    max-width: 1360px;
    margin: 0 auto;
}

.button-green{
    background-color: #209952;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size:16px;
    font-weight: 500;
}

/* navbar part */
.navbar-container{
    display: flex;
    justify-content: space-between;
}

nav{
    border: 2px solid black;
}

nav li {
    list-style: none;
}

nav a{
    text-decoration: none;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-button {
    display: flex;
    align-items: center;
}