*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.primary-clr{
    color: #209952;
}

.box-shape{
    max-width: 1360px;
    margin: 0 auto;
}

.button-green{
    background-color: #209952;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size:16px;
    font-weight: 500;
}

.button-white{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    padding: 12px 16px;
    border-radius: 4px;
    color: white;
    font-size:16px;
    font-weight: 500;
}

/* navbar part */
.navbar-container{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

nav li {
    list-style: none;
}

nav a{
    text-decoration: none;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-button {
    display: flex;
    align-items: center;
}


/* hero section part */

.hero-container{
    height: 700px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-title{
    display: flex;
    gap:10px;
    background-color: white;
    padding: 6px 12px;
    border-radius: 50px;
}

.title{
    text-align: center;
    margin: 20px 0;
}

.title h1{
    color:white;
    font-size:72px;
    font-weight: bold;
}
.title-p {
    margin-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.hero-button{
    display: flex;
    gap: 20px;
}

.hero-button button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}